     p {
       color: maroon;
     }
     h1 {
      font-family: Arial;
       color: grey;
     }
     h2 {
       font-family: Arial;
       color: grey;
     }
     h1, h2 {
         font-family: Arial;
         color: grey;
     }
     h1, h2 {
       font-family: Arial;
       color: grey;
       border-bottom: 1px solid black;
     }
     body {
      font-family: Arial;
     }
     html {
       font-size: 2rem;
     }

     body{
      color: royalblue;
      color: rgb(65, 105, 225);
      color: #4169E1CC;
      color: #93b5cf;
      color: #fa7e23;
      color: rgba(39,177,182,0.8);
      color: #2775b6CC;
    }